* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Shippori Mincho', serif;
  cursor: none;
}

.container {
  background-image: url("../images/top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header section .toggle-btn #lable {
  font-size: 2.5vw;
}

header section .logo {
  font-size: 2vw;
  margin-left: 2vw;
}

header section .rigth-section {
  margin-right: 5vw;
  font-size: 1.5vw;
}

header section span {
  display: inline-block;
  font-size: 1.5vw;
}

header section .off {
  margin-left: 1vw;
}

header section .online, header section .offline {
  text-decoration: underline;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}

aside {
  position: absolute;
  top: 8vw;
  left: 0;
  width: 30vw;
  z-index: 5;
}

aside .aside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

aside .aside section {
  width: 50%;
  height: 10vw;
  padding: 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside .aside section .spa-text {
  color: #8dbfbe;
}

aside .aside section .nail-text {
  color: #ca8fc7;
}

aside .aside section .hair-text {
  color: #c2aa6c;
}

aside .aside section .product-text {
  color: #e9e2e1;
}

aside .aside section .beauty-lounge-text {
  color: #d79b89;
}

aside .aside section .promotion-text {
  color: #97bee9;
}

aside .aside section p {
  margin-top: 2vw;
  padding-left: 0.7vw;
  font-size: 1.2vw;
}

aside .aside section .spa, aside .aside section .nail, aside .aside section .hair, aside .aside section .product, aside .aside section .beauty-lounge, aside .aside section .promotion {
  border-radius: 50%;
  height: 4vw;
  width: 4vw;
  background-color: transparent;
  -webkit-transition: 0.4s all linear;
  transition: 0.4s all linear;
}

aside .aside section .spa:hover, aside .aside section .nail:hover, aside .aside section .hair:hover, aside .aside section .product:hover, aside .aside section .beauty-lounge:hover, aside .aside section .promotion:hover {
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
  margin-left: 1vw;
  margin-top: 2vw;
}

aside .aside section .spa:hover {
  background-color: #8dbfbe;
}

aside .aside section .nail:hover {
  background-color: #ca8fc7;
}

aside .aside section .hair:hover {
  background-color: #c2aa6c;
}

aside .aside section .product:hover {
  background-color: #e9e2e1;
}

aside .aside section .beauty-lounge:hover {
  background-color: #d79b89;
}

aside .aside section .promotion:hover {
  background-color: #97bee9;
}

aside .aside section .spa {
  border: 1px solid #8dbfbe;
}

aside .aside section .nail {
  border: 1px solid #ca8fc7;
}

aside .aside section .hair {
  border: 1px solid #c2aa6c;
}

aside .aside section .product {
  border: 1px solid #e9e2e1;
}

aside .aside section .beauty-lounge {
  border: 1px solid #d79b89;
}

aside .aside section .promotion {
  border: 1px solid #97bee9;
}

aside .aside .spa p {
  color: #8dbfbe;
}

aside .aside-bottom {
  margin-top: 3vw;
  color: white;
  padding-left: 3vw;
}

aside .aside-bottom p {
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.7);
}

main {
  position: absolute;
  top: 32vw;
  left: 35vw;
  color: white;
}

main .main p {
  font-size: 2.5vw;
  font-weight: 600;
}

main .main span {
  display: block;
}

main .main .salon-spa {
  font-size: 1vw;
  letter-spacing: 1vw;
  padding-left: 0.5vw;
}

main .main .first-spantag, main .main .second-spantag {
  font-size: 0.8vw;
  margin-top: 1vw;
  padding-left: 5vw;
}

main .main .second-spantag {
  color: #ca8fc7;
  text-decoration: underline;
}

footer {
  position: absolute;
  top: 95%;
  right: 5%;
  -webkit-transform: translate(-5%, -95%);
          transform: translate(-5%, -95%);
}

footer a {
  font-size: 0.6vw;
  color: white;
  text-decoration: none;
  margin-left: 1vw;
  color: rgba(255, 255, 255, 0.7);
}

.second-banner {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-image: url("../images/top2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 10;
  -webkit-transition: all 1.6s ease;
  transition: all 1.6s ease;
  color: white;
  padding: 0 0 2vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.second-banner .second-banner-container {
  position: absolute;
  top: 20%;
  left: 5%;
  overflow-y: scroll;
  height: 80vh;
}

.second-banner .second-banner-container::-webkit-scrollbar {
  display: none;
}

.banner-second {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.banner-second .second-banner-container .spa {
  color: #8dbfbe;
}

.banner-second .second-banner-container .nail {
  color: #ca8fc7;
}

.banner-second .second-banner-container .hair {
  color: #c2aa6c;
}

.banner-second .second-banner-container .product {
  color: #e9e2e1;
}

.banner-second .second-banner-container .beauty {
  color: #d79b89;
}

.banner-second .second-banner-container p {
  font-size: 2.5vw;
}

.banner-second .second-banner-container h1 {
  font-size: 5vw;
}

.banner-second .second-banner-container .spa-tag p:hover {
  color: #8dbfbe;
}

.banner-second .second-banner-container .second-banner-firsttext p:hover {
  color: #ca8fc7;
}

.banner-second .second-banner-container .nail-tag p:hover {
  color: #ca8fc7;
}

.banner-second .second-banner-container .hair-tag p:hover {
  color: #c2aa6c;
}

.banner-second .second-banner-container .product-tag p:hover {
  color: #e9e2e1;
}

.banner-second .second-banner-container .beauty-tag p:hover {
  color: #d79b89;
}

.banner-second .second-banner-container .bottom-tag {
  margin-bottom: 3vw;
}

.cursorfirst {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.cursorsec {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 0.5vw;
  height: 0.5vw;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: .15s;
  transition: .15s;
}

.musicicon {
  height: 3vw;
  width: 6vw;
  position: absolute;
  right: 10vw;
  top: 1.8vw;
  overflow: hidden;
  display: none;
}

.musicicon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.showgif {
  display: block;
}

.noshowgif {
  display: none;
}

@media only screen and (max-width: 768px) {
  #lable {
    font-size: 2.5rem !important;
  }
  header section .logo {
    font-size: 2rem;
    margin-left: 2rem;
  }
  header section span {
    font-size: 2rem;
  }
  header section .off {
    margin-left: 1.5rem;
  }
  main {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  main .salon-spa {
    font-size: 1.5rem !important;
  }
  main .first-spantag {
    font-size: 0.7rem !important;
  }
  main .second-spantag {
    font-size: 0.7rem !important;
  }
  main .main p {
    font-size: 2.5rem;
  }
  aside {
    position: absolute;
    left: 0;
    top: 92vw;
    width: 100%;
  }
  aside .aside {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  aside .aside section p {
    font-size: 1.2rem;
  }
  aside .aside section .box {
    height: 4rem;
    width: 4rem;
  }
  aside .aside-bottom {
    margin-top: 8vw;
  }
  aside .aside-bottom p {
    font-size: 1.2rem;
  }
  footer {
    top: 97%;
  }
  footer a {
    font-size: 0.6rem;
  }
  .banner-second .second-banner-container p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  aside .aside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header section span {
    font-size: 1.5rem;
  }
  main .main p {
    font-size: 1.3rem;
  }
  main {
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
  aside .aside {
    margin-top: 9vw;
  }
  aside .aside section .box {
    height: 3rem;
    width: 3rem;
  }
  aside .aside-bottom {
    margin-top: 32vw;
  }
  aside .aside-bottom p {
    font-size: 0.7rem;
  }
  aside .aside section {
    width: 33%;
  }
  aside .aside section .product {
    margin-top: 13vw;
  }
  aside .aside section .beauty-lounge {
    margin-top: 13vw;
  }
  aside .aside section .promotion {
    margin-top: 13vw;
  }
  aside .aside section p {
    font-size: 0.8rem;
  }
  footer {
    top: 99%;
  }
  footer a {
    font-size: 0.4rem;
  }
  aside .aside section .product, aside .aside section .beauty-lounge, aside .aside section .promotion {
    margin-top: 13vw;
  }
}
/*# sourceMappingURL=main.css.map */